html, body{
	background:  #111;
	color:  #fff;
	font-family:  sans-serif;
	padding:  0;
	margin:  0;
}

*{
	box-sizing: border-box;
}

#targetObject{
	position: absolute;
	top:  50%;
	left:  calc(50vw - 150px);
	transform:  translate(-50%, -50%);
	color:  #fff;
	border:  2px solid #fff;
	border-radius:  15px;
	overflow:  hidden;
}

#targetObject ul{
	margin:  0;
	padding:  0;
	list-style:  none;
}

#targetObject ul li{
	margin:  0;
	padding:  1rem;
	border-bottom: 2px solid #fff;
}

#targetObject ul li:last-child{
	border-bottom:  0;
}

.microcomps{
	position: absolute;
	top: 0;
	right:  0;
	height:  100%;
	width:  300px;
	background:  #fff;
}

.microcomps ul{
	margin:  0;
	padding:  0;
	list-style:  none;
}

.microcomps ul li{
	margin:  0;
	padding:  1rem;
	color:  #000;
	border-bottom: 1px solid #ccc;
}

.microcomps .label{
	font-size:  0.8rem;
	font-weight:  bold;
	margin-top:  0;
	margin-bottom:  0.25rem;
}

.microcomps input, .microcomps select{
	display:  block;
	width:  100%;
	padding:  0.5rem 0.75rem;
	border:  1px solid #aaa;
	border-radius:  5px;
}

.microcomps input[type="color"]{
    padding: 0;
	-webkit-appearance: none;
	overflow:  hidden;
}

.microcomps input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

.microcomps input[type="color"]::-webkit-color-swatch{
	border: none;
}

.microcomps input[type="checkbox"]{
	display:  block;
	margin-left:  0;
	width:  auto;
}